@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    margin: 0;
    height: 100vh;
}

#header{
    background-color: #323232;
    font-family: "Oswald", sans-serif;
    position: absolute;
    width: 100vw;
    height: 80px;
    line-height: 80px;
    padding-left: 16px;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#header a{
    color: #fff !important;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
}

#sceneTree, #propertyEditor, #objectCreator, #keyboardShortcuts{
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
    overflow-y: scroll;
    white-space: nowrap;
    line-height: 8px;
    position: absolute;
    width: 240px;
    height: 280px;
    /* Hidden by default: */
    /*display: grid*/
    display: none;
}

#sceneTree p:hover{
    cursor:pointer;
}

#objectCreator{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
}

#propertyEditor input{
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
}

#propertyEditor button{
    background-color: #323232;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}

#propertyEditor hr{
    border: 2px solid #e8e8e8;
    width: 100%;
}

#keyboardShortcuts{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 24px repeat(3, 1fr);
    grid-gap: 16px;
    width: 240px;
    height: 200px;
}

#keyboardShortcuts p{
    text-align: center;
    color: #1a91ff;
    margin: 0px;
}

#transformMode{
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    position: absolute;
}

#transformMode img:hover{
    cursor: pointer;
}

#transformMode img{
    width: 18px;
}

#transformShiftZ{
    grid-row: 2/3;
}

#transformZ{
    grid-row: 2/3;
}

#transformShiftX{
    grid-row: 3/5;
}

#transformX{
    grid-row: 3/5;
}

#transformShiftY{
    grid-row: 3/4;
}

#transformY{
    grid-row: 4/5;
}

/* NOT STYLING FOR KEYBOARD SHORTCUTS */
.btns{
    background-color: #323232;
    color: white;
    border: none;
    border-radius: 8px;
}

.btns:hover{
    cursor: pointer;
}
