#sceneTree, #propertyEditor, #objectCreator{
    padding: 16px;
    border-top: 2px solid var(--secondaryBackgroundColor);
    border-bottom: 2px solid var(--secondaryBackgroundColor);
    line-height: 8px;
    overflow-y: scroll;
    white-space: nowrap;
    background-color: var(--primaryBackgroundColor);
    color: var(--textColor);
}

#sceneTree p:hover, #objectCreator p:hover{
    cursor: pointer;
}

#propertyEditor{
    display: grid;
}

#propertyEditor label{
    margin-top: 4px;
    margin-bottom: 4px;
}

#mainHeader, h1, h2, h3, h4, h5{
    font-family: "Oswald", sans-serif;
}

input[type=text], input[type=number]{
    border: none;
    background-color: var(--secondaryBackgroundColor);
    color: var(--textColor);
    padding: 8px;
    border-radius: 8px;
}

input[type=text]::placeholder, input[type=number]::placeholder{
    color: #bcbcbc;
}

input:focus{
    outline: none;
    border: 2px solid var(--highlightColor);
}

input[type=color]{
    padding: 0px;
    border: none;
}

canvas:focus{
    outline: none;
    border: none;
}

button{
    background-color: #323232;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 8px;
}

hr{
    border: 2px solid var(--secondaryBackgroundColor);
    width: 100%;
}

#objectSearchBar{
    width: calc(100% - 16px);
}

#deleteObjectBtn{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--secondaryBackgroundColor);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--secondaryBackgroundColor);
}