#sceneTree, #propertyEditor, #objectCreator{
    padding: 16px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    line-height: 8px;
    overflow-y: scroll;
    white-space: nowrap;
}

#sceneTree p:hover, #objectCreator p:hover{
    cursor: pointer;
}

input[type=text], input[type=number]{
    border: none;
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 8px;
}

input:focus{
    outline: none;
    border: 2px solid var(--highlightColor);
}

canvas:focus{
    outline: none;
    border: none;
}

#objectSearchBar{
    width: calc(100% - 16px);
}

#deleteObjectBtn{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}